modem.img
system/system/product/priv-app/Velvet/Velvet.apk
system/system/product/priv-app/GmsCore/GmsCore.apk
system/system/product/app/WebViewGoogle/WebViewGoogle.apk
system/system/priv-app/MiBrowserGlobal/MiBrowserGlobal.apk
system/system/system_ext/priv-app/Settings/Settings.apk
